@page "/Finance/Instants"
@using WebUI.Components.Pages.Finance.Components

@inject IInstantService instantService;
@inject MessageboxHelper messageboxHelper;
@inject IDialogService dialogService;

<PageTitle>Cari Bakiye</PageTitle>

<MudOverlay Visible="@isBusy" DarkBackground="true">
    <MudProgressCircular Color="Color.Secondary" Indeterminate="true" />
</MudOverlay>

<MudStack Class="mb-2 pa-4" Row=true Justify="Justify.SpaceBetween">
    <MudText Align="Align.Start" Typo="Typo.h5" Color="Color.Primary">Cari Bakiye</MudText>
    <MudButton OnClick="@(()=> EditInstant(new InstantModel()))" Color="@Color.Success" Variant="Variant.Filled">Ekle</MudButton>
</MudStack>

@* <MudDataGrid T="InstantModel" Items="instants" ReadOnly="false" EditMode="DataGridEditMode.Cell" Bordered="true" Dense="true" EditTrigger="DataGridEditTrigger.Manual" StartedEditingItem="@StartedEditingItem" CanceledEditingItem="@CanceledEditingItem" CommittedItemChanges="@CommittedItemChanges" id="dataGrid">
    <Columns>
        <PropertyColumn Property="x => x.TLEncumbrance" Title="TL Borç" Filterable="false" Sortable="false" Required=false>
            <EditTemplate>
                <MudNumericField @bind-Value="context.Item.TLEncumbrance" HideSpinButtons=true Required=false Margin="@Margin.Dense" />
            </EditTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.TLReceivable" Title="TL Alacak" Filterable="false" Sortable="false" Required=false>
            <EditTemplate>
                <MudNumericField @bind-Value="context.Item.TLReceivable" HideSpinButtons=true Required=false Margin="@Margin.Dense" />
            </EditTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.TLBalance" Title="TL Bakiye" Filterable="false" Sortable="false" Required=false>
            <EditTemplate>
                <MudNumericField @bind-Value="context.Item.TLBalance" HideSpinButtons=true Required=false Margin="@Margin.Dense" />
            </EditTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.CurrencyEncumbrance" Title="Döviz Borç" Filterable="false" Sortable="false" Required=false>
            <EditTemplate>
                <MudNumericField @bind-Value="context.Item.CurrencyEncumbrance" HideSpinButtons=true Required=false Margin="@Margin.Dense" />
            </EditTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.CurrencyReceivable" Title="Döviz Alacak" Filterable="false" Sortable="false" Required=false>
            <EditTemplate>
                <MudNumericField @bind-Value="context.Item.CurrencyReceivable" HideSpinButtons=true Required=false Margin="@Margin.Dense" />
            </EditTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.CurrencyBalance" Title="Döviz Bakiye" Filterable="false" Sortable="false" Required=false>
            <EditTemplate>
                <MudNumericField @bind-Value="context.Item.CurrencyBalance" HideSpinButtons=true Required=false Margin="@Margin.Dense" />
            </EditTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.CompanyName" Title="Firma Ünvanı" Filterable="false" Sortable="false" Required=false>
            <EditTemplate>
                <MudTextField @bind-Value="context.Item.CompanyName" Required=false Margin="@Margin.Dense" />
            </EditTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.CompanyOfficer" Title="Firma Yetkilisi" Filterable="false" Sortable="false" Required=false>
            <EditTemplate>
                <MudTextField @bind-Value="context.Item.CompanyOfficer" Required=false Margin="@Margin.Dense" />
            </EditTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.CompanyAddress" Title="Firma Adresi" Filterable="false" Sortable="false" Required=false>
            <EditTemplate>
                <MudTextField @bind-Value="context.Item.CompanyAddress" Required=false Margin="@Margin.Dense" />
            </EditTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.TaxHouse" Title="Vergi Dairesi" Filterable="false" Sortable="false" Required=false>
            <EditTemplate>
                <MudTextField @bind-Value="context.Item.TaxHouse" Required=false Margin="@Margin.Dense" />
            </EditTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.TaxNumber" Title="Vergi Numarası" Filterable="false" Sortable="false" Required=false />
        <PropertyColumn Property="x => x.LandPhoneNumber" Title="Sabit Telefon" Filterable="false" Sortable="false" Required=false />
        <PropertyColumn Property="x => x.PhoneNumber" Title="Cep Telefonu" Filterable="false" Sortable="false" Required=false />
        <PropertyColumn Property="x => x.Email" Title="E-Mail" Filterable="false" Sortable="false" Required=false />
        <PropertyColumn Property="x => x.Status" Title="Firma Türü" Filterable="false" Sortable="false" Required=false>
            <EditTemplate>
                <MudSelect @bind-Value="context.Item.Status" Required=false Margin="@Margin.Dense" Dense=true AnchorOrigin="Origin.BottomCenter">
                    <MudSelectItem Value="@("ALICI")">ALICI</MudSelectItem>
                    <MudSelectItem Value="@("SATICI")">SATICI</MudSelectItem>
                    <MudSelectItem Value="@("MASRAF")">MASRAF</MudSelectItem>
                </MudSelect>
            </EditTemplate>
        </PropertyColumn>
    </Columns>
</MudDataGrid> *@

<MudSimpleTable Dense=true Bordered=true Striped=true Hover=true>
    <thead>
        <tr>
            <th>TL Borç</th>
            <th>TL Alacak</th>
            <th>TL Bakiye</th>
            <th>Döviz Borç</th>
            <th>Döviz Alacak</th>
            <th>Döviz Bakiye</th>
            <th>Firma Ünvanı</th>
            <th>Firma Yetkilisi</th>
            <th>Firma Adresi</th>
            <th>Vergi Dairesi</th>
            <th>Vergi Numarası</th>
            <th>Sabit Telefon</th>
            <th>Cep Telefonu</th>
            <th>E-Mail</th>
            <th>Firma Türü</th>
            <th>İşlem</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var instant in instants)
        {
            <tr>
                <td>@instant.TLEncumbrance</td>
                <td>@instant.TLReceivable</td>
                <td>@instant.TLBalance</td>
                <td>@instant.CurrencyEncumbrance</td>
                <td>@instant.CurrencyReceivable</td>
                <td>@instant.CurrencyBalance</td>
                <td>@instant.CompanyName</td>
                <td>@instant.CompanyOfficer</td>
                <td>@instant.CompanyAddress</td>
                <td>@instant.TaxHouse</td>
                <td>@instant.TaxNumber</td>
                <td>@instant.LandPhoneNumber</td>
                <td>@instant.PhoneNumber</td>
                <td>@instant.Email</td>
                <td>
                    @(EnumHelper<InstantTypeEnum>.GetDisplayValue(EnumHelper<InstantTypeEnum>.Parse(instant.Status)))
                </td>
                <td>
                    <MudItem Class="d-flex">
                        <MudIconButton Icon="@Icons.Material.Filled.Update" Color="Color.Warning" Title="Güncelle" OnClick="@(()=> EditInstant(instant))"></MudIconButton>
                        <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" Title="Sil" OnClick="@(()=> DeleteInstant(instant))"></MudIconButton>
                    </MudItem>
                </td>
            </tr>
        }
    </tbody>
</MudSimpleTable>


@code {
    private bool isBusy = false;

    private List<InstantModel> instants = new();

    protected override async Task OnInitializedAsync()
    {
        isBusy = true;
        await GetAllInstants();
        isBusy = false;
    }

    private async Task GetAllInstants()
    {
        var result = await instantService.GetAllInstant();
        if (result.Success == false)
        {
            messageboxHelper.ShowSnackMessage(result.Message, Severity.Error);
            return;
        }
        instants = result.Data.ToList();
    }

    private async Task DeleteInstant(InstantModel model)
    {
        model.IsDeleted = true;
        var checkDeleteResult = await messageboxHelper.ShowDialog("Cari Silme İşlemi", "Seçtiğiniz cariyi silmek istediğinize emin misiniz?");
        if (checkDeleteResult == true)
        {
            var result = await instantService.UpdateInstant(model);
            if (result.Success == false)
            {
                messageboxHelper.ShowSnackMessage("Çek Silinemedi", Severity.Error);
                return;
            }

            messageboxHelper.ShowSuccessSnackMessage();
        }
    }

    private async Task EditInstant(InstantModel model)
    {
        bool isNew = false;
        if (String.IsNullOrEmpty(model.CompanyName) == false)
            isNew = true;

        DialogParameters parameters = new();
        parameters.Add("Instant", model);
        parameters.Add("IsNew", isNew);
        var dialog = dialogService.Show<EditInstant>("Cari Ekle/Güncelle", parameters, MudHelper.MudDialogHelper.DialogOptionsSmall);
        var dialogResult = await dialog.Result;
        if (dialogResult.Canceled == false)
        {
            if (isNew)
            {
                var data = dialogResult.Data as InstantModel;
                instants.Add(data);
            }
            else
                await GetAllInstants();

            StateHasChanged();
        }
    }
}
